* {
  box-sizing: border-box;
}

html {
  background-color: rgb(249, 191, 140);
}

.btns-container {
  padding: 15px;
}

button {
  border-radius: 14px;
  border: 1px solid rgb(123, 123, 123);
  background-color: rgba(140, 137, 137, 0.546);
  padding: 10px;
  margin: 10px;
}

.loc-input input {
  padding: 10px;
}
